[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pymysql = "*"
python-dateutil = "*"
moneyforward-selenium = {ref = "0.6.2", git = "git+https://github.com/kefi550/moneyforward_selenium"}
cryptography = "*"

[dev-packages]

[requires]
python_version = "3"
